@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Stardos+Stencil:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #474747;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: #f6f6f6;
}

#logo-name {
  font-size: 1.7rem;
  font-family: "Stardos Stencil", system-ui;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.home-section {
  animation: home 0.5s ease-out forwards;
}

@keyframes home {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* Heding css starts from here  */

.heading {
  text-align: center;
  color: #474747;
  padding: 20px 0;
}
.wlcm-txt {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #474747;
  letter-spacing: 0.8px;
}
.text {
  color: #787878;
  font-weight: 400;
  padding-top: 10px;
}

/* Heding css Ends  here  */

/* aside css starts here  */

.aside-txt {
  padding: 16px;
  margin: 40px 0;
}

.aside-txt p {
  font-size: 1.1em;
}

.key-points {
  list-style-type: square;
  padding-left: 20px;
}

.key-points li {
  margin-bottom: 15px;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
#mail {
  color: #2f61a8;
}

#mail:hover {
  color: #2e5d9ece;
}

/*  aside css ends here */

/* Media queries for aside content */
@media screen and (max-width: 990px) {
  .asid-txt {
    border: 2px solid purple !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* DahsBoradcards css starts from here  */

.dashboard-txt {
  color: #575757;
  padding: 10px 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.dashboard {
  display: flex;
  justify-content: left;
  padding: 20px;
  flex-wrap: wrap;
  gap: 25px;
}

.dashboard-card {
  background: white;
  border-radius: 5px;
  width: 35%;
  padding: 10px 0px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 20px; */
}

.card-icon {
  background-color: #f5f5f5;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.ticket-count {
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
}

.dashboard-card:hover {
  transition: 0.6s all;
  background: #2e5c9e;
}

.dashboard-card:hover #confirm-icon {
  transform: scale(1.3);
  transition: 0.5s all;
}
.dashboard-card:hover #post-icon {
  transform: scale(1.3);
  transition: 0.5s all;
}
.dashboard-card:hover .sbt-txt,
.dashboard-card:hover .mytckt-txt,
.dashboard-card:hover .ticket-count {
  color: white;
}
#post-icon {
  color: #9d07cbaf;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  padding: 13px;
  background-color: #eccdf5;
  transition: 0.5s all;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(46, 13%, 75%, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
#confirm-icon {
  color: #2e5c9e;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  padding: 13px;
  background-color: #d5deeb;
  transition: 0.5s all;
}

@media (max-width: 768px) {
  .dashboard-card {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .ticket-count {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
  }
  .dashboard-card {
    width: 100%;
  }
}

/* DahsBoradcards css ends  here  */
